#xtheone {
	display: block;
}
#xtheone .active{
	display: block;
}
@-webkit-keyframes xanim1 {
	from {left: 0px;}
	to {left: 170px;}
}
@-webkit-keyframes xanim2 {
	from {left: 170px;}
	to {left: 0px;}
}
@-webkit-keyframes xanim3 {
	from {left:-73px;}
	to {left:10px;}
}
#xtitle {
	margin-top: 40px;
}
#xclick {
	display: block;
	-webkit-animation: xanim2 0.5s;
}
#xclick .active {
	display: block;
}
.xbox {
	position: absolute;
	width: 53px;
	height: 53px;
	display: block;
	z-index: 9;
	outline: #000000 solid 1px;
	background-color: #272B34;
	background-image: url(https://i.imgur.com/fba61u0.png);
	font-family: "Open Sans", sans-serif;
	top: 0px;
	left: 53px;
}
.xbox .active {
	background-image: url(https://i.imgur.com/k3pe7i8.png);
}
#xall .active {
	display:block;
}
#xprequel {
	position: absolute;
	top: 53px;
	height: 53px;
	padding: 10px;
	width: 150px;
	background-color: #272B34;
	outline: #000000 solid 1px;
	z-index: 10;
	font-family: "Open Sans", sans-serif;
	background-image:url(https://i.imgur.com/fba61u0.png);
}
#xafkenter {
	margin-left:5px;
	width:100px;
	background-color:#282c35;
	color:#eeeeee;
	border: solid 1px #009cdd;
}
#xmain {
	position: absolute;
	top: 127px;
	padding: 10px;
	width: 150px;
	height: auto;
	background-color: #111317;
	outline: #000000 solid 1px;
	z-index: 10;
	font-family: "Open Sans", sans-serif;
	color: #808691;
	overflow-x: hidden;
	overflow-y: auto;
}
#xmain .icon {
	display:none;
}
#xmain .active {
	color: #00bee8;
	top:auto;
	left:auto;
	display:block;
}
#xmod .icon {
	display:none;
}
#xmod {
	position: absolute;
	top: 436px;
	padding: 10px;
	width: 150px;
	background-color: #111317;
	outline: #000000 solid 1px;
	z-index: 10;
	font-family: "Open Sans", sans-serif;
	color: #808691;
	overflow-x: hidden;
	overflow-y: auto;
}
#xmod .active {
	color: #00bee8;
	top:auto;
	left:auto;
	display:block;
}
.xtxt: {
	color: #3366FF;
	padding: 2px 15px;
}
.xbutton: {
	padding: 2px 15px;
}
.xbutton:hover, .xbox:hover, #xprequel {
	cursor: pointer;
}
#chat-input .afknotifications {
	position: absolute;
	top: 8px;
	right: 4px;
	padding: 0 6px;
	min-width: 10px;
	border-radius: 12px;
	background: #db182e;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
.icon-woot-off {
	background-image:url(https://i.imgur.com/liUIR94.png);
}
.icon-chat-bcs {
	height:15px;
	width:15px;
	background-image:url(https://i.imgur.com/pSJVANr.png);
}
.icon-chat-baS {
	height:15px;
	width:15px;
	background-image:url(https://i.imgur.com/RQOpxNm.png);
}
.icon-chat-thehost {
	height:15px;
	width:15px;
	background-image:url(https://i.imgur.com/g8NkPge.png);
}
.icon-chat-bcslogo {
	height:49px;
	width:49px;
	background-image:url(https://i.imgur.com/x1DEgOD.png);
}
.betabot-update {
	position:relative;
	clear:left;
	min-height:46px px;
	width:100px %;
	word-wrap:break 0;
}
#room-bar{width:340px;}
.user .xavi{
	border: 2px solid rgb(137, 190, 108);
	top: inherit;
	left: -30px;
}
#xvotelist{
	position: absolute;
	top: 55px;
	height: 65%;
	left: 64%;
	width: 200px;
	display: none;
	background-color: #111317;
	outline: #000000 solid 1px;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 98001;
}
#xlist{
	position: absolute;
	top: 45px;
	left: -2px;
	height: 100%;
	width: 100%;
	margin-top: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}
#xwootlist, #xmehlist, #xcurrentdj{margin-left:5px;}
#xwootlist .user .name, #xmehlist .user .name, #xcurrentdj .user .name{
	cursor: pointer;
	font-size: 13px;
}
#xwootlist{background-color: rgba(146, 172, 58, 0.05);}
#xmehlist{background-color: rgba(196, 46, 59, 0.1);}
#xcurrentdj{
	margin-bottom:10px;
}
#user-lists .list.room .user .icon-meh {
	top: -1px;
	right: 9px;
	left: auto;
}
#iwannalookcool{
	background-image:url(https://i.imgur.com/x1DEgOD.png);
	position:absolute;
	background-size: contain;
	color:#b6f6ff;
	font-size: 11px;
	font-family: ' + opensansfnt + ', sans-serif;
	top: 6%;
	left: 88%;
	width:30px;
	height:30px;
	display:none;
}
#footer-user .buttons .button {
	top: -100%;
	left: 65px;
	background: #282C35;
	display: none;
	text-align: left;
}
#footer-user .buttons .inventory {
	top: 0%;
	left: 0%;
	background: #282C35;
	display: block;
	cursor: default;
	-webkit-box-shadow: inset 1px 0 0 0 #0A0A0A;
	-moz-box-shadow: inset 1px 0 0 0 #0A0A0A;
	box-shadow: inset 1px 0 0 0 #0A0A0A;
}
#footer-user .buttons .button.inventory:hover {
	background: #282C35;
	-webkit-box-shadow: inset 1px 0 0 0 #0A0A0A;
	-moz-box-shadow: inset 1px 0 0 0 #0A0A0A;
	box-shadow: inset 1px 0 0 0 #0A0A0A;
}
#footer-user .buttons .button span {
	margin-left: 20%;
}
#footer-user .buttons .badge, #footer-user .buttons .store, #footer-user .buttons .profile, #footer-user .buttons .settings {
	width: 82%;
	top: -265px;
	background: #1C1F25;
}
#footer-user .buttons .badge .bdg, #footer-user .buttons .store .icon, #footer-user .buttons .profile .icon, #footer-user .buttons .settings .icon{
	left:12px;
	position: absolute;
}
#footer-user .buttons .button.store:hover{
	background: #323742;
}
#footer-user .info {
	top: 1px;
	display: block;
	left: 19%;
	width: 300px;
	background: #282C35;
	display: block;
}
#footer-user {
	cursor: pointer;
}
#footer-user .back {
	width: 19%;
}
#footer-user .info .points {
	right: 25px;
}
.nothing {
	height: 16px;
}
#chat .delete-button{
	padding: 3px;
	height: 15px;
	width: 32px;
}
.xlistvoted{
	margin-top:-5px;
	margin-left:-8px;
}
.xlistgrabbed{
	margin-top:-5px;
	margin-left:11px;
}
.xlistdjing{
	margin-top:-2px;
	margin-left:2px;
}
.xlisticon{
	margin-top:3px;
}
.xlistinfo{
	margin-left:83%;
	margin-top:-1%;
	cursor:pointer;
}
